.THIS {
    padding-left: 10%;
    padding-right: 10%;

}

H1.THIS {
    font-size: 3.5rem;
    padding-top:5%; 
}

.text-1.THIS {
    margin-top: 1%;
    line-height: 1.5;
}

.text-2.THIS {
    margin-top: 1%;
    line-height: 1.5;
}